# Welcome to Company Financial Data Preprocessing Project!
### `Dataset Source`
This dataset is downloaded from Kaggle.com, author Atharva Arya [Company Financial Dataset](https://www.kaggle.com/datasets/atharvaarya25/financials)

### `Information and Guideline`
Please refer to our GitHub Main Repository Page [GitHub Repository](https://github.com/Jen-uis/Preprocessing-Financial-Data)  
  
This Project is mainly provided for educational purposes only. Please do not republish it for monetary value without original author's autorization.

### `Author`
This Project is created By Nathaniel Zhu [GitHub @Jen-uis](https://github.com/Jen-uis) on June 15th, 2024.

## Project Guideline
    - TBD

## Main Objectives For this analysis
If you are going educational purposes, do not view the solutions and try to resolve them on your own, then refer to each solution in Section I. Have fun!


- Numbers are formatted incorrectly: e.g. $22,00,000 rather than $2,200,000
- If we are following US Date, Date is formatted incorrectly: 01/06/2014 rather than 06/01/2024. Then sort them in order from Jan to Dec in ascending order.
- Units Sold column numbers are in Currency format, need to reformat them into general numbers. Besides there are 0.5 (half) units sold, we are going to round them up to the closest whole number.
- Remove all dollar sign
- Under Discounts, change "-" into "0" for better mathematical analysis
- Change data type from objects into integer
- (Optional) remove "," (comma) from all numerical numbers (try If Else)
- (Optional) Plot Sales and Profits with respect to Timeline

## Section I: Data Pre-Processing

In [1]:
# Importing Necessary Packages
import pandas as pd
import numpy as np

In [3]:
# Loading dataset
financial_data = pd.read_csv("Data/Financials.csv")

# View some lines to understand the data
financial_data.head(5)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [1]:
# Check for special values in each columns
for value in financial_data['Segment', 'Country'].unique():
    print(value)

NameError: name 'financial_data' is not defined